.contacts{
  color: $primary-text;

  &_phone{
    @extend %col-6;
    text-decoration: none;
    color: $primary-text;

    &.icon-phone{
      &:before{
        content: "";
        display: inline-block;
        background: transparent url('..images/icons/common/phone.png') no-repeat scroll center;
        width: 16px;
        height: 16px;
        color: $icons-color;
      }
    }
  }
}