.navigation{
  @extend %col-3;
  position: fixed;
  height: 100vh;
  background: $dark-bg;
  text-align: center;
  padding: 10px;

  .logo{
    display: block;
    text-decoration: none;
    background: transparent url('../images/logo.png') no-repeat scroll center center;
    height: 100px;
  }

  &_buttons-wrapper{
    margin: 20px 0;

    .button{
      display: block;
    }
  }

  &_links{

  }

  &_list{

    &-item{

      &.active{
        color: $accent;
      }

      &-link{
        display: block;
        padding: 10px;
        text-decoration: none;
        color: $secondary-text;
        transition: all, 0.3s;

        &:hover, &:focus{
          color: lighten($secondary-text, 20%);
        }
      }
    }
  }

  .social_links{
    margin: 20px;
    &-item{
      @extend %col-3;
      display: inline-block;

      &-link{
       display: block;

        &.youtube{

        }

        &.vk{

        }

        &.fb{

        }

        &.insta{

        }

        &+&{
          padding-right: 10px;
        }
      }
    }
  }

  &_copyright{
    &-text{
      color: #666666;
      font-size: $fs-md;
    }
  }
}