.main{
  @extend %col-offset-3, %col-9;
  height: auto;

  .carousel-wrapper{
    @extend %col-12;

    .carousel{

      &_title{
        font-size: $fs-lg;
        font-weight: 700;
        color: $primary-text;
      }

      &_description{
        font-size: $fs-md;
        color: $secondary-text;
      }

      &_img{
        position: relative;
        z-index: -1;
      }
    }
  }

}