body {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: $fs-md;
  line-height: 1.25;
  min-width: 320px;
  min-height: 100%;
  background: $default-bg;
}

*{
  box-sizing: border-box;
  transition: all .1s;
}

a{
  text-decoration: none !important;
}