//variables

//breakpoints
$hdpi: 1440;
$mdpi: 1280;
$tablet: 992;
$mobile: 767;

  // Sizes
$col-padding: 15px;

//colors
$default-bg: #fff;
$dark-bg: #333333;

$primary: #2196F3;
$primary-light: #BBDEFB;
$primary-dark: #1976D2;

$accent: #fff;

$primary-text: #333333;
$secondary-text: #cccccc;

$divider: #cccccc;
$icons-color: #a2a2a2;

$carousel-dots: #999999;


//fonts
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 24px;
$fs-title: 30px;


