<footer class="footer">
    <div class="footer_contacts contacts">
        <a href="#" class="contacts_phone icon-phone">(093) 6-5555-12</a>
        <a href="#" class="contacts_phone">(044) 222-72-89</a>
    </div>
</footer>