<header class="header" id="header">
    <div class="header_search">
        <!-- input -->
        <div class="form-group">
            <label for="search">
            <input type="email" class="form-control" id="search" placeholder="Поиск">
            </label>
        </div>
    </div>

    <div class="header_contacts contacts">
        <a href="#" class="contacts_phone icon-phone">(093) 6-5555-12</a>
        <a href="#" class="contacts_phone">(044) 222-72-89</a>
    </div>

    <div class="header_currency-selector">
        <select name="currency" id="currency_selector">
            <option value="usd">$</option>
            <option value="uah">UAH</option>
        </select>
    </div>

    <div class="header_cart">
        <!--<a href="#" class="cart-image"></a>-->
        <!--<span class="cart_quantity">2</span>-->
    </div>
</header>