<nav class="navigation" id="navigation">
    <a href="#" class="logo"></a>
    <div class="navigation_buttons-wrapper">
        <a href="#" class="button">Написать руководителю</a>
        <a href="#" class="button">Статус ремонта</a>
    </div>
    <nav class="navigation_links">
        <ul class="navigation_list">
            <li class="navigation_list-item">
                <a href="#" class="navigation_list-item-link">Каталог по категориям</a></li>
            <li class="navigation_list-item">
                <a href="#" class="navigation_list-item-link">Каталог по моделям</a></li>
            <li class="navigation_list-item">
                <a href="#" class="navigation_list-item-link">Ремонт</a></li>
            <li class="navigation_list-item">
                <a href="#" class="navigation_list-item-link">Гравировка</a></li>
            <li class="navigation_list-item">
                <a href="#" class="navigation_list-item-link">Доставка</a></li>
            <li class="navigation_list-item">
                <a href="#" class="navigation_list-item-link">Партнеры</a></li>
            <li class="navigation_list-item">
                <a href="#" class="navigation_list-item-link">Контакты</a></li>
        </ul>
    </nav>
    <ul class="social_links">
        <li class="social_links-item"><a href="#" class="social_links-item-link youtube"></a></li>
        <li class="social_links-item"><a href="#" class="social_links-item-link vk"></a></li>
        <li class="social_links-item"><a href="#" class="social_links-item-link fb"></a></li>
        <li class="social_links-item"><a href="#" class="social_links-item-link insta"></a></li>
    </ul>

    <div class="navigation_copyright">
        &copy;
        <p class="navigation_copyright-text">&copy; 2016. Официальный сайт "4mac"
            <br>
            Все права защищены.
        </p>
    </div>
</nav>