.button {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  outline: none;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid $divider;
  font-size: $fs-sm;
  color: $secondary-text;
  transition: all .3s;
  min-width: 175px;
  width: auto;
  min-height: 35px;
  height: auto;
  line-height: 1;
  text-decoration: none;

  &:hover, &:focus{
    background-color: $accent;
    color: $primary-text;
    border: 0 none;
  }

  &-lg{
    width: 300px;
    height: 55px;
    font-size: $fs-md;
  }

  &-rounded{
    border-radius: 5px;
  }

  &-black{
    background: $dark-bg;
    color: $accent;
    border: 0 none;

    &:hover, &:focus{
      background: transparent;
      color: $primary-text;
      border: 1px solid $divider;
    }
  }
}